<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<table class="table table-bordered">
  <thead>
    <tr class="info">
      <th>Name</th>
      <th>Title</th>
      <th>Manager</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.title %></td>
        <td><%= employee.manager %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<button class="btn btn-default">
  <%= link_to 'New Employee', new_employee_path %>
</button>

